* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

html,
body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 69px;
    border-bottom: 1px solid seashell;
    background-color: black;
    z-index: 1;
}

nav {
    float: right;
    margin-right: 10px;
    height: 100%;
    background-color: black;
}

nav a {
    text-decoration: underline;
}

main {
    position: relative;
    top: 69px;
}

li {
    display: inline-block;
}

section#mission-section {
    position: relative;
    height: 700px;
    background: url('images/img-mission-background.webp') center / contain no-repeat scroll;
}

#mission-banner {
    position: absolute;
    width: 100%;
    top: 43%;
    bottom: 43%;
    background-color: black;
}

#month-section {
    position: relative;
    top: 50px;
    width: 1000px;
    margin: 0 auto;
}

#month-section img {
    height: 200px;
    width: 300px;
}

#images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figure {
    margin: 10px;
}

#logo {
    float: left;
    height: 50px;
    margin-left: 10px;
}

#location-section {
    height: 500px;
    position: relative;
    top: 50px;
    margin-top: 85px;
    background: url('images/img-locations-background.webp') center / contain no-repeat scroll;
}

#locations-heading {

}

#locations-container {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;   
}

.location-item {
    line-height: 50px;
    width: 300px;
    margin: 20px;
    background-color: black;
}

footer {
    position: relative;
    top: 200px;
}